# Node modules & system files
node_modules/
.DS_Store
Thumbs.db

# VSCode / Editor files
.vscode/
.idea/

# Compiled circuit artifacts
*.r1cs
*.wasm
*.sym
*.zkey
*.wtns
*.ptau
*.sol

# Output folders
circuits/*_js/
circuits/input/
js_witness_generators/
inputs_outputs/
frontend/dist/
frontend/build/

# Log & environment
*.log
.env
.env.local

# Backup & temp
*.bak
*.tmp

# Ignore local proof/test outputs
proof.json
public.json
verification_key.json
witness.wtns

# Git itself (not needed to list .git folder)
